*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
header{
    background-color:lightcyan;
    height: 6em; 
    
    
}

.header {
    float: left;
}
.head-tag {
    float:right ;
    font-size: 20px ;
    margin-top: 30px;
    margin-right: 65%;
}
.head-tag a {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    text-decoration:none ;
    color: black;
    padding: 10px;
    margin-right: 15px;
    
}

.head-tag :hover {
    background-color: transparent;
    color:red ;
    transition :0.5s ;
}
.aside{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10%;
    margin-left: 4%;
    
}
.aside li{
    list-style: square;
    margin-bottom: 6px;
}
.mymargin{
    margin-left: 48%;
    margin-top: 70px;
}
.lo{
    margin-left: 50%;
    margin-top: 50px;
}
.sii{
    margin-left: 50%;
    margin-top: 10px;
}
.ali{
    align-content: space-between;
    height: 200px;
    width: 200px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: none;
    width: 18%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }